header {
    img {
        float: right;
        max-width: 250px;
    }

    h1 {
        font-weight: normal;
        span {
            font-weight: bold;
            &::after {
                content: "\a";
                white-space: pre;
            }
        }
    }
}