@import "../node_modules/sassy-gridlover/sassy-gridlover/sassy-gridlover";

html {
    @include sgl-html;
}

body {
    @include sgl-body(0);
    font-family: sans-serif;
    max-width: 760px;
    margin: auto;
}

h1 {
    @include sgl-heading(3, 0, 0, 0);
}

h2 {
    @include sgl-heading(2, 0, 0, 0);
}

h3 {
    @include sgl-heading(1, 0, 0, 0);
}

h4 {
    @include sgl-heading(0, 0, 0, 0);
}

h5 {
    @include sgl-heading(0, 0, 0, 0);
}

h1,
h2 {
    text-transform: uppercase;
}

h1 {
    text-align: center;
}

p,
ul,
ol,
pre,
table,
blockquote {
    @include sgl-margins(0, 1);
}

ul ul,
ol ol,
ul ol,
ol ul {
    @include sgl-margins(0, 0);
}