---
---

<!doctype html>
<html lang="en">

<head>{% include head.html %}</head>

<body>
    <header>{% include header.html %}</header>

    <main role="main">
        {% include midline.html %}
        <div class="pattern-line-1-above"> </div>
        <div class="pattern-line-1"> </div>

        <div class="container">
            {% include table-of-contents.html %}

            {% include sections/introduction.html %}

            {% include sections/cv.html %}

            {% include sections/skills.html %}

            {% include sections/projects.html %}

            {% include sections/other.html %}
        </div>
    </main>


    <div class="footer-above"> </div>
    <footer>{% include footer.html %}</footer>
</body>

</html>