<section class="cv">
    <div class="row">
        <div class="col-11 col-sm-9 col-md-8 section-cv">
            <h2>Curriculum Vitae</h2>
            <table class="table table-sm">
                <tr>
                    <td class="cv-year"><i>2011 — 2014</i></td>
                    <td>I Liceum im. Jacka Kaczmarskiego w Olsztynku</td>
                </tr>
                <tr>
                    <td class="cv-year"><i>2014 — dziś</i></td>
                    <td><strong>Warszawski Uniwersytet Medyczny</strong>, kierunek lekarski</td>
                </tr>
                <tr>
                    <td class="cv-year cv-para"><i>2015 - 2017</i></td>
                    <td class="cv-para">Wiceprezes i szef gabinetu Akademickiego Stowarzyszenia Katolickiego Soli Deo</td>
                </tr>
                <tr>
                    <td class="cv-year cv-para"><i>2017 - 2018</i></td>
                    <td class="cv-para">Szef Sekcji IT w ASK Soli Deo</td>
                </tr>
                <tr>
                    <td class="cv-year"><i>Marzec 2018 — dziś</i></td>
                    <td>Lead developer projektu <a href="https://github.com/wise-team">WISE</a> w <strong><a
                                href="https://wise-team.io">wise-team</a></strong></td>
                </tr>
            </table>
        </div>
        <div class="col-1 col-sm-3 col-md-4 imager-cv imager">

        </div>
    </div>
</section>