<a class="a-anchor" id="curriculum-vitae"></a>

<section class="cv">
    <div class="row">
        <div class="col-11 col-sm-9 col-md-8 section-cv">
            <h2>Curriculum Vitae</h2>
            <strong>Education</strong>
            <table class="table table-sm">
                <tr>
                    <td class="cv-year"><i>2011 — 2014</i></td>
                    <td>Jacek Kaczmarski High School in Olsztynek, Poland</td>
                </tr>
                <tr>
                    <td class="cv-year"><i>2014 — 2021</i></td>
                    <td><strong>Medical University of Warsaw</strong>, Doctor of Medicine</td>
                </tr>
            </table>

            <strong>IT</strong>
            <table class="table table-sm">
                <tr>
                    <td class="cv-year cv-para"><i>2004 — 2017</i></td>
                    <td class="cv-para">Self taught programmer</td>
                </tr>
                <tr>
                    <td class="cv-year cv-para"><i>2016 - 2018</i></td>
                    <td class="cv-para">Chief of IT department in ACA Soli Deo (non-profit)</td>
                </tr>
                <tr>
                    <td class="cv-year"><i>March 2018 — August 2019</i></td>
                    <td>Architect and full-stack developer of <a href="https://github.com/wise-team">WISE system</a> in
                        <strong><a href="https://wise-team.io">wise-team</a></strong></td>
                </tr>
                <tr>
                    <td class="cv-year"><i>September 2019 — today</i></td>
                    <td>Typescript developer at <a href="https://pitchup.com">Pitchup.com</a></td>
                </tr>
            </table>
        </div>
        <div class="col-1 col-sm-3 col-md-4 patternfield-cv patternfield">

        </div>
    </div>
</section>