<section class="cv">
    <div class="row">
        <div class="col-11 col-sm-9 col-md-8 section-cv">
            <h2>Curriculum Vitae</h2>
            <table class="table table-sm">
                <tr>
                    <td class="cv-year"><i>2011 — 2014</i></td>
                    <td>Jacek Kaczmarski High School in Olsztynek, Poland</td>
                </tr>
                <tr>
                    <td class="cv-year"><i>2014 — dziś</i></td>
                    <td><strong>Medical University of Warsaw</strong>, Doctor of Medicine</td>
                </tr>
                <tr>
                    <td class="cv-year cv-para"><i>2015 - 2017</i></td>
                    <td class="cv-para">Vice-chairman and Head of the Office in Academic Catholic Association Soli Deo</td>
                </tr>
                <tr>
                    <td class="cv-year cv-para"><i>2017 - 2018</i></td>
                    <td class="cv-para">Chief of IT section in ACS Soli Deo</td>
                </tr>
                <tr>
                    <td class="cv-year"><i>Marzec 2018 — dziś</i></td>
                    <td>Lead developer projektu <a href="https://github.com/wise-team">WISE</a> w <strong><a
                                href="https://wise-team.io">wise-team</a></strong></td>
                </tr>
            </table>
        </div>
        <div class="col-1 col-sm-3 col-md-4 imager-cv imager">

        </div>
    </div>
</section>