<section class="omnie">
    <div class="row">
        <div class="col-1 col-sm-2 col-md-3 imager-omnie imager">

        </div>
        <div class="col-11 col-sm-10 col-md-9 section-omnie">
            <p>
                Od dzieciństwa programuję — pierwszą stronę internetową (dla swojej szkoły) stworzyłem w 2004 roku.
                Od 2007 zajmowałem się pisaniem aplikacji w Javie, później także systemów wbudowanych na
                mikrokontrolerach typu AVR i ARM.
            </p>
            <p>
                W życiu chciałem kierować się miłością i świadczyć pomoc ludziom w moim otoczeniu. W ścieżce programisty
                brakowało mi niesienia bezpośredniej pomocy drugiemu człowiekowi, w związku
                z czym w liceum postanowiłem zostać lekarzem. Na studiach medycznych nadal programowałem w Javie.
                Teraz wiem, że moją pasją jest zarówno medycyna (a szczególnie chirurgia), jak i programowanie.
                Chciałbym móc połączyć to w życiu, aby ludziom pomagać zarówno bezpośrednio jak i systemowo.
            </p>
        </div>
    </div>
</section>