<section class="omnie">
    <div class="row">
        <div class="col-1 col-sm-2 col-md-3 imager-omnie imager">

        </div>
        <div class="col-11 col-sm-10 col-md-9 section-omnie">
            <p>
                I have been doing computer programming since childhood. I created my first website, for my school, in 2004
                when I was 9. Since that I have done many projects using wide variety of technologis. 
                Some of the projects are listed below.
            </p>
            <p>
                Through my life I am driven by the desire to serve and help people that surround me.
                As a programmer I wouldn't be able to give so much direct help to the others as in the medical field.
                That is why in my high school I decided to become a medical doctor.
                Through my medical studies I continued doing IT projects and had a longing for the joy of programming.
                Now I understand that my passion is both medicine and IT. 
                <strong>My mission is to combine skills from both fields to serve people the best I can.</strong>
            </p>
        </div>
    </div>
</section>