<a class="a-anchor" id="other"></a>

<section class="other">
    <div class="row">
        <div class="col-1 col-sm-1 col-md-2 patternfield-other patternfield">

        </div>
        <div class="col-11 col-sm-11 col-md-10 section-other">
            <h4>Listed on & Certificates</h4>
            <p>
            <ul>
                <li>
                    TOP 4 Typescript in Poland, TOP 3 Vue.js in Poland on
                    Codersrank.io:
                    <a href="https://profile.codersrank.io/user/jblew">
                        profile.codersrank.io/user/jblew
                    </a>. (Based solely on my open source work)
                </li>
                <li>
                    OCUP2 Certified UML professional, level: foundation. See:
                    <a href="https://www.omg.org/cgi-bin/searchcert.cgi?keywords=cid683425">
                        Jędrzej Lewandowski OCUP2 Foundation certificate
                    </a>
                </li>
            </ul>
            </p>

            <h4>Languages</h4>
            <p>
            <ul>
                <li><strong>English C1</strong></li>
                <li>Polish native</li>
            </ul>
            </p>

            <h4>Extracurricular</h4>
            <p>
            <ul>
                <li>
                    Programming since I was 9 years old
                </li>
                <li>
                    Interested in oncology - currently finishing a systematic review on pericytes and angiopoietins.
                </li>
                <li>
                    Hobbies include piano, surrealistic art and psychological sci-fi literature.
                </li>
                <li>
                    I enjoy hands-on projects where I first plan out a complex design and then build it by hand. Mostly
                    art installations with electronic / IT components.
                </li>
                <li>
                    Active member and elected Vice-chairman (2016-2017) of Academic Catholic Student Association
                    Soli Deo.
                </li>
            </ul>
            </p>
        </div>
</section>