<a class="a-anchor" id="skills"></a>

<section class="skills">
    <div class="row">
        <div class="col-1 col-sm-1 col-md-2 patternfield-skills patternfield">

        </div>
        <div class="col-11 col-sm-11 col-md-10 section-skills">
            <h2>Skills</h2>
            <p>Highlights: Fullstack (Typescript + Vue + Node.js) + Java SE + Blockchain + cloud</p>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12 col-md-6">
                        {% include sections/skills/column1.html %}
                    </div>
                    <div class="col-12 col-md-6">
                        {% include sections/skills/column2.html %}
                    </div>
                </div>
            </div>
        </div>
</section>