<section class="skills">
    <div class="row">
        <div class="col-1 col-sm-3 col-md-4 imager-skills imager">

        </div>
        <div class="col-11 col-sm-9 col-md-8 section-skills">
            <h2>Umiejętności</h2>
            <h3>Umiem dobrze</h3>
            <p>Java SE 6/7/8, programowanie wielowątkowe w Javie, Webdesign (HTML, CSS, jQuery, Gimp)</p>

            <h3>Posługuję się sprawnie</h3>
            <p>Maven, GIT, Linux (Debianowate), PHP, Sieci LAN, Apache2, Nginx, SQL, javascript</p>

            <h3>Używam, kiedy potrzebuję</h3>
            <p>Java EE (JDBC, Servlety, Jetty, Netty.io), Guava, Jackson JSON, rxtx-java, SASS, CakePHP, Wordpress,
                Bash, Python, SVN (ale nie lubię), Arduino</p>

            <h3>Miałem przyjemność pracować z...</h3>
            <p>
                JUnit, SDKMan, Gradle, Commons Daemon, H2, Amazon AWS (EC2, S3 api)
                <span class="slashspacer">~</span> DIY Oświetlenie dyskotekowe (realtime sound processing, DMX512, AVR,
                4-20mA)
                <span class="slashspacer">~</span> rozproszone ESP8266
                <span class="slashspacer">~</span> Unity3D + serwer w Javie
                <span class="slashspacer">~</span> Blender 3D
            </p>

            <h3>Języki</h3>
            <p>Angielski — B2 (FCE, rozmawiam chętnie)</p>
        </div>
    </div>
</section>