<div class="container midline">
    <div class="row">
        <div class="col-12 email">
            <strong><span class="addr-protection" id="addrpro-1">[ochrona adresu &mdash; włącz javascript]</span>
                &nbsp;<img src="img/envelope.png" class="envelope-icon" alt="envelope icon" />&nbsp; gmail.com</strong>
        </div>
    </div>
    <div class="row">
        <div class="col-12 kontakty">
            <a href="https://github.com/jblew">Github.com/jblew</a>
            <a href="https://www.linkedin.com/in/jędrzej-lewandowski">Linkedin</a>
            <a href="https://profile.codersrank.io/user/jblew">CodersRank.io</a>
            <a href="jedrzej-lewandowski-CV-IT.pdf">Download CV</a>
        </div>
    </div>
</div>

<script type="text/javascript">
    document.getElementById("addrpro-1").innerHTML = atob("amVkcnplamJsZXc=");
    document.getElementById("addrpro-1").removeAttribute("class");
</script>