<div class="container">
    <div class="row">
        <div class="col-12 col-sm-5 col-md-4 col-lg-3 profilowe-container">
            <img src="img/jedrzej-lewandowski.jpg" alt="Jędrzej Lewandowski">
        </div>
        <div class="col-12 col-sm-7 col-md-8 col-lg-9 header-by-image">
            <h1>
                <span id="firstname">
                    Jędrzej
                </span>
                <br /> <span class="secondline">Lewandowski</span></h1>
            <h2>Full stack developer/architect and medical student</h2>
            {% include motto.html %}
            <p style="text-align: center;">
                <a style="color: blue !important;" href="/infomeet19-typescript-keynote-1.0.0.pdf">InfoMEET 2019 keynote</a>
            </p>
        </div>
    </div>
</div>