<div class="container">
    <div class="row">
        <div class="col-sm-4 profilowe-container">
            <img src="img/jedrzej-lewandowski.jpg" alt="Jędrzej Lewandowski">
        </div>
        <div class="col-sm-8">
            <h1>Jędrzej<br /> <span class="secondline">Lewandowski</span></h1>
            <h2>Full stack developer/architect and medical student</h2>
            <blockquote>
                <p>
                    &bdquo;Man has no good in himself and can glory in nothing.&rdquo;<br />
                    &bdquo;
                    If you look for rest in this life, how will you attain to everlasting rest? Dispose yourself, then,
                    not for much rest but for great patience.
                    &rdquo;
                </p>

                <p align="right" style="margin-top: -1.5rem;"><small>&mdash; Thomas A. Kempis, <i>The Imitation of
                            Christ.</i></small></p>

                <p>&bdquo;The goal of life is beyond the life&rdquo;
                    <small style="float: right; padding-top: 0.5rem;">&mdash; Jacek Dukaj, <i>The Ice</i></small></p>
            </blockquote>
        </div>
    </div>
</div>