.midline {
    margin-top: 2rem;
    text-align: center;
}

@media(max-width: $min-width-sm+(-1)) {
    .midline {
        margin-top: 0;
    }
}


.pattern-line-1-above {
    background: transparent;
    width: 100%;
    height: 1rem;

    -moz-box-shadow: inset 0 -9px 9px -9px rgba(0, 0, 0, 0.45);
    -webkit-box-shadow: inset 0 -9px 9px -9px rgba(0, 0, 0, 0.45);
    box-shadow: inset 0 -9px 9px -9px rgba(0, 0, 0, 0.45);
}

.pattern-line-1 {
    background: url(../img/patterns/sand-blossom.gif) top left repeat;
    width: 100%;
    height: 3rem;
    -moz-box-shadow: inset 0 -10px 10px -10px rgba(0, 0, 0, 0.35);
    -webkit-box-shadow: inset 0 -10px 10px -10px rgba(0, 0, 0, 0.35);
    box-shadow: inset 0 -10px 10px -10px rgba(0, 0, 0, 0.35);
}