@mixin body-font {
  font-family: 'Roboto Slab', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
@mixin heading-font {
    font-family: 'Playfair Display SC', serif;
}

@mixin a-link {
  color: $primary !important;
    &:hover {
        color: darken($primary, 10%) !important;
    }
}