.motto {
    display: none;
    max-width: 40rem;
    margin: 0 auto;

    color: #777;

    small {
        color: #999;
    }
}

@media(min-width: $min-width-sm) {
    .motto {
        display: block;
    }
}

@media(min-width: $min-width-lg) {
    .motto {
        padding-top: 1rem;
        padding-left: 1rem;
        padding-right: 1rem;
    }
}

@media(min-width: $min-width-xl) {
    .motto {
        padding-top: 2rem;
        padding-left: 2rem;
        padding-right: 2rem;
    }
}