.patternfield {
    -webkit-box-shadow: 1px 1px 8px 1px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 1px 1px 8px 1px rgba(0, 0, 0, 0.25);
    box-shadow: 1px 1px 8px 1px rgba(0, 0, 0, 0.25);
    min-height: 8rem;
}

.patternfield-omnie {
    background: url(../img/patterns/vintage-scarlet.gif);
}

.patternfield-cv {
    background: url(../img/patterns/prim-walls.gif);
}

.patternfield-skills {
    background: url(../img/patterns/coaster.gif);
}

.patternfield-projects {
    background: url(../img/patterns/victorian-sunshine-border.gif);
}

.patternfield-other {
    background: url(../img/patterns/starliner.gif);
}