.social-links {
    text-align: center;

    a {
        display: inline-block;
        background: rgba(0, 0, 0, 0.4);
        padding: 0.1rem 0.4rem 0.1rem 0.4rem;
        margin: 0.2rem 0.1rem 0.2rem 0.1rem;
        font-size: 1rem;
        border-radius: 3px 3px;

        .fab,
        .fas {
            color: rgba(0, 0, 0, 0.4);
        }
    }
}