.table-of-contents {
    text-align: center;
    padding: 2rem 0 2rem 0;

    .label {
        font-weight: lighter;
    }

    a {
        background: transparent;
        color: black !important;
        text-decoration: underline;
        padding-left: 0.5rem;
        padding-right: 0.5rem;
        display: inline-block;

        :hover {
            text-decoration: none;
        }
    }
}