<h4>2004-2017 — Self taught programmer</h4>
<p>
    I was passionate about software development and studying algorithms since childhood, did thousands of hours of hobby programming. Most important projects from this period:
</p>
<ul>
    <li>
        2006-2016: <strong>Websites for local organizations</strong> (Webdesign + backend) 
        Stack: <i>HTML/CSS, PHP/CakePHP, Worpdress (custom themes, custom plugins) + GIMP + Corel)</i>
    </li>
    <li>
        2009: <strong>Mailing system for local hospital</strong>. Biggest challenge: cooperation with IT department, training of hospital staff
    </li>
    <li>
        2008-2012: <strong>MUD (text-based online multpliayer game)</strong> — the biggest of my hobby projects.
        It consisted of almost 60ksloc over 5 versions. 
        I have learned advanced OOP design patterns and tested multiple distributed app design approaches 
        (lifecycle, eventbus, reactive/observable). 
        Latest version included an experimental 3D client written in Unity. 
        Stack: <i>SVN->Hg->GIT, Java SE, advanced concurrent programming, Jetty/Netty, custom WebSockets, SQLite, PostgreSQL, SSH, deployment to vps.</i>
    </li>
    <li>2015: <strong>Distributed photo library system</strong>. Management of huge photo library distributed over several external HDDs.
        The main tasks of the system were: segregation by event, removing duplicates, 
        synchronizing the primary-backup hdd pairs, keeping central index. Stack: <i>Java SE/Swing</i>
    </li>
    <li>
        2015-2016: <strong>domestic heating management system</strong>. Stack: <i>ESP32, ST ARM, Java SE, RabbitMQ, mesh networking</i>
    </li>
</ul>
