<h4>2004-2017 — Self taught programmer</h4>
<p>
I was passionate about software development and studying algorithms since childhood, did thousands of hours of hobby
programming. Important projects from this period include:
</p>

<p>
<strong>2006 - 2016 — designing websites for local organizations</strong>. Starting in primary school, I have designed more than ten
websites for local schools, non-profit organizations, and clubs. I have learned to cooperate with clients and improved
skills in web design and typography.
</p>

<p>
<strong>2009 — implementing a mailing system in a local hospital</strong> (Voivodeship Rehabilitation Hospital for Children in Ameryka,
Poland). I have helped out an IT specialist to finish the project on time. This project was very demanding and allowed
me to learn perseverance, precision, and how to conduct end user training.
</p>

<p>
<strong>2008 - 2012 — developing a text-based online multiplayer game (MUD)</strong>. I have wanted to make a game which would allow me
to play with my blind friend. The project included writing almost 60000 lines of code across five versions of this
software. Thanks to the project, I have improved in designing software architecture, team collaboration and management,
advanced Java SE, concurrent (multithreaded) programming, algorithmics (the project facilitated experimental
geo+time+weather simulation models); SVN and GIT code versioning, remote deployment and management of remote servers
through ssh.
</p>

<p>
<strong>2015 — designed a distributed photo library management system</strong>. My family had a collection of almost half a million
digital photographs and more than ten terabytes of videos. There was no software that would allow effective and cheap
management of such a big collection of digital photographs. I have designed a system with an aim of detecting
duplicates, time and event sorting, ordering and synchronizing between primary-backup hard drive pairs. The biggest
difficulty was that the data was spread across more than twenty external hard drives and the software had to keep a
distributed hash index.
</p>

<p>
<strong>2015 - current — domestic heating management system</strong>. I have started this project while learning about the principles of
hardware development, embedded programming (ESP32, ST ARM) and mesh networking.
</p>