<h4>2016-2018 — chief of IT department at academic catholic student association ASK Soli Deo (non profit)</h4>

<p>
Projects made at ACS Soli Deo include but are not limited to:
<ul>
<li>
Designing the website solideo.pl (which required custom backend) and posters for events.
</li>
<li>
Implementation of HR and internal assets management system based on NextCloud.
</li>
<li>
Music driven lighting system for big events (150+ participants). One of the responsibilities I have had at Soli Deo was to design and supervise lighting and sound equipment at events. As a hobby project, I have created a lighting system for large halls. This was a software and hardware project. A software DSP module was doing spectral analysis and feeding RGB data into a hardware modules. Hardware was the most innovative part of this project. I have developed an extremely cost-effective way of sending real-time RGB signal over long distances with minimal noise (instead of using voltage-driven DMX that requires shielded and capacity-adjusted expensive cabling, the system was using a current-loop circuits for which a flat telephone cable is enough to carry the signal).
</li>
</ul>
</p>