<h4>03.2018-today — Architect and full-stack developer of Wise as wise-team.io</h4>
<p>
    <strong>Stack:</strong> <i>Steem blockchain + Typescript / Node.js / browser + Vue.js + Docker / swarm +
        PostgreSQL / PostgREST + Redis / socket.io + Hashicorp Vault + Travis + Ansible + Logz.io</i>
</p>
<p>
    Wise-team.io (https://wise-team.io/) is a blockchain startup. We run a Steem blockchain witness node and maintain
    two decentralized apps for Steem blockchain: Engrave and Wise. I am the architect and the leading developer of the
    WISE system. Wise is a platform that allows steem users to delegate their voting power to others under strictly
    defined and publicly visible criteria. It consists of a common library, a cli tool, a voting webapp, a delegator
    webapp, public database api, daemon service for non-technical users and a vault server for cryptographic key
    management. All services run in a self-deployable and self-managing cluster. All packages are open source and
    published to npmjs.com registry or to Docker cloud. Wise app: https://wise.vote/, the explanation:
    https://docs.wise.vote/, and the sources: https://github.com/wise-team.
</p>
<p>
    I have improved on multiple skills at Wise-team, such as brainstorming and collaborating in a team. I have presented
    our ideas and the product to the public at the Steemfest conference in autumn 2018. Technical skills mastered at
    Wise include: Typescript+Javascript full stack, Vue.js, Docker, GIT, continuous integration (Travis CI), continuous
    deployment (Ansible), TDD.
</p>

<h4>
    05.2019-08.2019 — (non-profit project)
    Personalized patient advice system for local hospital
</h4>
<p>
    <strong>Stack:</strong> <i>Firebase (Functions / Firestore / RealtimeDB / Auth / DynamicLinks / Hosting) +
        Typescript/Node.js/browser + Vue.js + + Android native + Google Play store + Travis</i>
</p>
<p>
    The idea behind this project was invented by two doctors on the Allergology Ward of the hospital. Patients and
    doctors on this ward have to cope with two problems: first — allergic test have long evaluation time and the results
    arrive at the hospital after patient discharge; second — the advice is often complicated and hard to remember by the
    patient. I was asked to develop a system that allows patient’s parents to view medical advices on their mobile
    devices. The advices are created by the doctors in the hospital and then, a deep link to the app is sent to the
    patient’s parent phone. Whole system uses a serverless approach with database, cloud functions and authentication
    provided by Firebase. Currently the system consists of a native Android app for parents and an electron based
    standalone desktop app for medical professionals. iOS app for parents and user management app are due to be done.
    This is a non-profit and open source (GPLv3) project.
    <a href="https://github.com/Jblew/amerykahospital-personalizedadvice">See on github:
        Jblew/amerykahospital-personalizedadvice</a>. <a href="https://aplikacja.ameryka.com.pl">Project website</a>
</p>

<h4>
    01.2020-today — (non-profit group)
    Person centred solutions
</h4>
<p>
    <strong>Stack:</strong> <i>Healthcare + social sciences research</i>
</p>
<p>
   At PCS we are small group of healthcare and law related people. We are aimed at helping hospitals and
   healthcare institutions to understand and implement Person Centred Care. Our work is focused on: research,
   popularization and development of hardware/software tools that comply with the idea of Person centred care.
   Why PCC? It is one among the rare techniques that improve quality of care without leading to 
   cost explosion - PCC optimizes using resources that are already available
   (patient motivation, family time, empathy, compliance-issue wasted resources).
   You can read more about PCC on our website
    <a href="https://personcentred.care">://personcentred.care</a>.
</p>