<strong>Databases</strong>
<table class="skill-star-table">
    <tr>
        <td>★★★★☆</td>
        <td>PostgreSQL + query profiling + NoSQL mode</td>
    </tr>
    <tr>
        <td>★★★★☆</td>
        <td>Firestore / Realtime Firebase</td>
    </tr>
    <tr>
        <td>★★★★☆</td>
        <td>GraphQL (hasura + apollo)</td>
    </tr>
    <tr>
        <td>★★☆☆☆</td>
        <td>MySQL/MariaDB</td>
    </tr>
    <tr>
        <td>★★☆☆☆</td>
        <td>Redis</td>
    </tr>
</table>


<strong>Backend services</strong>
<table class="skill-star-table">
    <tr>
        <td>★★★★☆</td>
        <td>Nginx (proxy, ws, fastcgi, tsl/ssl, templating, dynamic)</td>
    </tr>
    <tr>
        <td>★★★☆☆</td>
        <td>OAuth (custom flow for Steemconnect with Passport.js and Hashicorps vault)</td>
    </tr>
    <tr>
        <td>★★★☆☆</td>
        <td>Express.js</td>
    </tr>

    <tr>
        <td>★★☆☆☆</td>
        <td>Apache 2</td>
    </tr>
</table>


<strong>Cloud/serverless</strong>
<table class="skill-star-table">
    <tr>
        <td>★★★★☆</td>
        <td>Firebase serverless / GCP elements</td>
    </tr>
    <tr>
        <td>★★★☆☆</td>
        <td>Bare metal server administration</td>
    </tr>
    <tr>
        <td>★★☆☆☆</td>
        <td>Amazon AWS (S3, EC2, IAM)</td>
    </tr>
    <tr>
        <td>★★☆☆☆</td>
        <td>Docker Swarm + bare metal server administration</td>
    </tr>
</table>

<strong>Blockchain</strong>
<table class="skill-star-table">
    <tr>
        <td>★★★★☆</td>
        <td>Hive (prev. named steem) Blockchain (2nd layer protocol architect)</td>
    </tr>
</table>

<strong>Misc</strong>
<table class="skill-star-table">
    <tr>
        <td>★★★☆☆</td>
        <td>Embedded programming: Platform.io/Arduino. IC families: STM32, ESP32, ATM8, nRF52</td>
    </tr>
    <tr>
        <td>★★★☆☆</td>
        <td>Cryptography with an understanding of several algorithms and associated threats. Did experimental
            implementations of these. I am also currently an administrator of two Hashicorp Vault servers at Wise.</td>
    </tr>
    <tr>
        <td>★★☆☆☆</td>
        <td>Operating measurement equipment: digital oscilloscope and DDS arbitrary function generator</td>
    </tr>
    <tr>
        <td>★★☆☆☆</td>
        <td>Electronic circuit design and board prototyping: Eagle</td>
    </tr>
    <tr>
        <td>★★☆☆☆</td>
        <td>Lan networks with complicated mesh setup</td>
    </tr>
</table>