<strong>Languages</strong>
<table class="skill-star-table">
    <tr>
        <td>★★★★★</td>
        <td>Typescript + javascript (TOP 9 Typescript developer in Poland on Codersrank.io). Browser + Node.js</td>
    </tr>
    <tr>
        <td>★★★★☆</td>
        <td>Java SE 8 + advanced concurrent programming</td>
    </tr>
    <tr>
        <td>★★★★☆</td>
        <td>Software architecture: UML, SOLID/DDD/component architecture/efficient boundaries</td>
    </tr>
    <tr>
        <td>★★★☆☆</td>
        <td>Go (IoT)</td>
    </tr>
    <tr>
        <td>★★☆☆☆</td>
        <td>Python (scripting, data processing, interactions with hardware like oscilloscopes, DDS, custom sensors).
        </td>
    </tr>
</table>

<strong>Frontend</strong>
<table class="skill-star-table">
    <tr>
        <td>★★★★★</td>
        <td>Vue.js + vuex + vue-router</td>
    </tr>
    <tr>
        <td>★★★★☆</td>
        <td>xstate (state machines)</td>
    </tr>
    <tr>
        <td>★★★☆☆</td>
        <td>IndexedDB (dexie)</td>
    </tr>
    <tr>
        <td>★★★☆☆</td>
        <td>React + redux</td>
    </tr>
    <tr>
        <td>★★★☆☆</td>
        <td>Webpack</td>
    </tr>
    <tr>
        <td colspan="2">&nbsp;</td>
    </tr>
    <tr>
        <td>★★★★☆</td>
        <td>HTML5 + CSS3</td>
    </tr>
    <tr>
        <td>★★★☆☆</td>
        <td>Design: GIMP + Affinity Designer (vector)</td>
    </tr>
    <tr>
        <td>★★★☆☆</td>
        <td>Bootstrap</td>
    </tr>
    <tr>
        <td>★★★☆☆</td>
        <td>Material design (+ Vuetify)</td>
    </tr>
    <tr>
        <td>★★★☆☆</td>
        <td>SASS (SCSS)</td>
    </tr>
    <tr>
        <td>★★☆☆☆</td>
        <td>jQuery</td>
    </tr>
</table>


<strong>Tools</strong>
<table class="skill-star-table">
    <tr>
        <td>★★★★☆</td>
        <td>Docker + docker swarm</td>
    </tr>
    <tr>
        <td>★★★★☆</td>
        <td>Travis</td>
    </tr>
    <tr>
        <td>★★★★☆</td>
        <td>TDD (JUnit, Mocha, Jest, Tslint, Sinon, Istanbul/nyc, Codecov, Code Climate)</td>
    </tr>
    <tr>
        <td>★★★★☆</td>
        <td>NPM package publishing with (pipeline: travis + semantic-release)</td>
    </tr>
    <tr>
        <td>★★★★☆</td>
        <td>Git + github + gitlab + conventional commits</td>
    </tr>
    <tr>
        <td>★★★☆☆</td>
        <td>Ansible</td>
    </tr>
    <tr>
        <td>★★★☆☆</td>
        <td>Linux (Debian family)</td>
    </tr>
    <tr>
        <td>★★★☆☆</td>
        <td>BASH + ZSH</td>
    </tr>
    <tr>
        <td>★★☆☆☆</td>
        <td>Hashicorp Vault</td>
    </tr>
</table>