<strong>Languages</strong>
<table class="skill-star-table">
    <tr>
        <td>★★★★☆</td>
        <td>Javascript/Typescript (TOP 8 Typescript developer in Poland on Codersrank.io). Browser + Node.js</td>
    </tr>
    <tr>
        <td>★★★★☆</td>
        <td>Java SE 8 + advanced concurrent programming</td>
    </tr>
    <tr>
        <td>★★☆☆☆</td>
        <td>Python (scripting, data processing, interactions with hardware like oscilloscopes, DDS, custom sensors).
        </td>
    </tr>
</table>

<strong>Frontend</strong>
<table class="skill-star-table">
    <tr>
        <td>★★★★☆</td>
        <td>Vue.js + vuex + vue-router</td>
    </tr>
    <tr>
        <td>★★★★☆</td>
        <td>HTML5 + CSS3</td>
    </tr>
    <tr>
        <td>★★★☆☆</td>
        <td>Webpack</td>
    </tr>
    <tr>
        <td>★★★☆☆</td>
        <td>Design: GIMP + Affinity Designer (vector)</td>
    </tr>
    <tr>
        <td>★★★☆☆</td>
        <td>Bootstrap</td>
    </tr>
    <tr>
        <td>★★★☆☆</td>
        <td>Material design + Vuetify</td>
    </tr>
    <tr>
        <td>★★☆☆☆</td>
        <td>SASS (SCSS)</td>
    </tr>
    <tr>
        <td>★★☆☆☆</td>
        <td>jQuery</td>
    </tr>
</table>

<strong>Backend</strong>
<table class="skill-star-table">
    <tr>
        <td>★★★☆☆</td>
        <td>OAuth (custom flow for Steemconnect with Passport.js and Hashicorps vault)</td>
    </tr>
</table>

<strong>Tools</strong>
<table class="skill-star-table">
    <tr>
        <td>★★★★☆</td>
        <td>Docker + docker swarm</td>
    </tr>
    <tr>
        <td>★★★★☆</td>
        <td>Travis</td>
    </tr>
    <tr>
        <td>★★★★☆</td>
        <td>TDD (JUnit, Mocha, Tslint, Sinon, Istanbul/nyc)</td>
    </tr>
    <tr>
        <td>★★★★☆</td>
        <td>NPM package publishing</td>
    </tr>
    <tr>
        <td>★★★☆☆</td>
        <td>Git + github</td>
    </tr>
    <tr>
        <td>★★★☆☆</td>
        <td>Ansible</td>
    </tr>
    <tr>
        <td>★★★☆☆</td>
        <td>Linux (Debian family)</td>
    </tr>
    <tr>
        <td>★★★☆☆</td>
        <td>BASH + ZSH</td>
    </tr>
    <tr>
        <td>★★☆☆☆</td>
        <td>Hashicorp Vault</td>
    </tr>

</table>